@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

.label {
  position: relative;
  display: block;
}

.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tariffInput {
  position: relative;
  height: 167px;
  width: 118px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);

  @include mobile {
    width: 107px;
    height: 136px;
    padding: 20px 12px;
  }
}

.input:not(:checked) ~ .tariffInput {
  opacity: 0.5;
}

.title {
  margin-bottom: 2px;
  @include font-size(16, 19, 400);

  @include mobile {
    @include font-size(14, 16, 400);
  }
}

.price {
  margin-bottom: 10px;
  &Title {
    margin-bottom: -3px;
    @include font-size(11, 13, 400);
    color: $grey;

    @include mobile {
      @include font-size(8, 9, 400);
    }
  }
  &Value {
    @include font-size(24, 28, 400);

    @include mobile {
      @include font-size(18, 21, 400);
    }
  }
}

.image {
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
