@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

.profile {
  width: 100%;
  height: calc(100vh - 102px);
  @include flex-center;

  background-image: url('../../assets/images/map-bg.jpg');
  background-size: cover;

  @include mobile {
    height: 100vh;
    align-items: flex-start;
    background-image: none;
  }
}

.container {
  width: calc(100% - 40px);
  max-width: 888px;
  height: 588px;
  padding: 60px 44px;

  @include flex-column;
  align-items: center;

  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $white;

  @include mobile {
    width: calc(100% - 20px);
    height: 100%;
    align-items: flex-start;
    padding: 50px 0;
  }
}

.title {
  margin-bottom: 13px;
  @include font-size(36, 42, 700);

  @include mobile {
    display: none;
  }
}

.subtitle {
  margin-bottom: 51px;
  @include font-size(18, 21, 400);
  color: $greySubtitle;

  @include mobile {
    @include flex-center-vert;
    margin-bottom: 30px;
    @include font-size(16, 19, 400);
    color: $black;
  }
}

.backBtn {
  display: none;

  @include mobile {
    display: inline-block;
    margin-right: 12px;
  }
}

.info {
  @include flex-center-fullwidth;

  @include mobile {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.formContainer {
  width: 50%;

  @include mobile {
    margin-top: 40px;
    width: 100%;
  }
}

.buttonContainer {
  @include mobile {
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items: flex-end;
  }
}

.inputsContainer {
  @include flex-center-fullwidth;
}

.cardSavedContainer {
  @include modal-center;

  width: 100%;
  max-width: 822px;

  @include flex-center-column;
  padding: 90px 115px;
  background-color: $white;
}
