@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin fixed-fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-fullheight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-fullwidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin modal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin transform-center-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin font-size(
  $font-size,
  $line-height: normal,
  $font-weight: 400,
  $letter-spacing: normal
) {
  font-size: $font-size * 1px;
  line-height: $line-height * 1px;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
}

@mixin boxShadow {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
