@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/breakpoints.scss';

.header {
  width: 100%;
  height: 102px;
  background-color: $blackBg;

  @include tablet {
    height: auto;
    background-color: transparent;
    // position: absolute;
  }

  &Container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 25px;
    @include flex-center-fullwidth;

    @include tablet {
      @include fixed-fullscreen;
      z-index: 2;
      align-items: flex-start;
      background-color: $white;
      display: none;

      &.open {
        display: block;
      }
    }
  }
}

.logoContainer {
  @include flex-center-vert;

  @include tablet {
    display: none;
  }
}

.roadLogo {
  @include box(61px);
  margin-right: 16px;
}

.navigationContainer {
  @include flex-center-vert;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }
}

.logoutContainer {
  margin-left: 16px;

  @include tablet {
    margin-left: 0;
  }
}

.mobileBurger {
  display: none;

  @include tablet {
    cursor: pointer;
    display: block;
    @include box(24px);
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;

    &.open {
      display: none;
    }
  }

  svg {
    width: 100%;
  }
}

.closeButton {
  display: none;

  @include tablet {
    cursor: pointer;
    display: none;
    @include box(24px);
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;

    &.open {
      display: block;
    }
  }

  svg {
    width: 100%;
  }
}
