@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/breakpoints.scss';

.container {
  width: 486px;
  padding: 33px 23px;

  background: #ffffff;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
