@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.card {
  width: 347px;
  height: 182px;
  padding: 18px 28px;
  @include flex-column-fullheight;

  background: #ffffff;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.top {
  @include flex-center-fullwidth;
}

.logo {
  @include box(33px);
}

.date {
  @include font-size(12, 14, 400);
}

.number {
  @include font-size(21, 25, 400);
}

.bottom {
  @include flex-center-fullwidth;
}

.contactsLogo {
}

.cardLogo {
  width: 38px;
  height: 28px;
  display: flex;

  &::before,
  &::after {
    width: 28px;
    height: 28px;
    content: '';
    flex-shrink: 0;
    border-radius: 50%;
    mix-blend-mode: multiply;
    background-color: #f1f1f1;
  }

  &::after {
    margin-left: -10px;
  }
}
