@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/breakpoints.scss';

.link {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $white;

  @include font-size(21, 25, 400);

  &:not(:last-child) {
    margin-right: 20px;
  }
}
